<app-nav-bar></app-nav-bar>
<br><br>

<div class="card" >
  <h2 class="mb-3">User Deatils</h2>
      <div class="card-body userdetail" *ngFor ="let user of userDetails"> 
      <h3>Name:<span class="space"></span> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;{{user.firstName}} {{user.lastName}}</h3>
      <h3>Adddress: <span class="space"></span> {{user.address.building}}, 
        {{user.address.area}}, {{user.address.street}}, {{user.address.city}} - {{user.address.pinCode}} {{user.address.state}} 
      </h3>
      <h3>Email:<span class="space1"></span>{{user.email}}</h3>
      <h3>Contact Number:<span class="space"></span>{{user.contactNumber}}</h3>
    </div>
</div>

<div class="card" >
  <h2 class="mb-3">Account Summary</h2>
      <div class="card-body userdetail" *ngFor ="let accnt of accountDetails"> 
      <h3>Account Number:<span class="space"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{accnt.accountNumber}}</h3>
      <h3>Balance: <span class="space1"></span>{{accnt.accountBalance}}</h3>
      <h3>Last Transaction:<span class="space1"></span>{{accnt.lastTransactionDate | date:'medium':'IST' }}</h3>
      <h3>Account Type:<span class="space1"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{accnt.accountType}}</h3>
    </div>
</div>




      





