.space {
    padding-left: 20px;
}

.space1{
    padding-left: 100px;
}

.space2{
    padding-left: 800px;
}

.userdetail {
    column-count: 2;
    column-gap: 25px;
   
  }
  .backgrcolor{
    border-width: 5px;
}
.backgrcolor1{
    border-width: 1px;
}

