<mat-toolbar color="primary" ><span>ICIN BANK</span></mat-toolbar>
<mat-toolbar class="toolbar" ></mat-toolbar>
<mat-toolbar class="mat-toolbar1">
    <span><a *ngIf="!loggedIn" button mat-button routerLink="/">Products & Services</a></span>
    <span><a *ngIf="!loggedIn" button mat-button routerLink="/">Apply For Account</a></span>
    <span><a *ngIf="!loggedIn" button mat-button routerLink="/">Contact</a></span>
    <span><a *ngIf="!loggedIn" button mat-button routerLink="/">FAQ</a></span>  
    <span><a *ngIf="!loggedIn" button mat-button routerLink="/admin">Administraton</a></span>

    <span><a *ngIf="loggedIn" button mat-button routerLink="/dashboard">Home</a></span>
    <span><a *ngIf="loggedIn" button mat-button routerLink="/transaction">Transaction Details</a></span>
    <span><a *ngIf="loggedIn" button mat-button routerLink="/payee">Payment / Transfer</a></span>
    <span><a *ngIf="loggedIn" button mat-button routerLink="/requests">Service Request</a></span>
    <span class="right-spacer"></span>  
    
    <span class="logged-user"><a *ngIf="loggedIn" >{{loggedUsername}}</a></span>
    <span><a *ngIf="loggedIn" (click) = "logoutUser()" mat-icon-button routerLink="/">Logout</a></span>                                                       
</mat-toolbar>



